.create-campaign {
  margin: 20px auto auto auto;
  max-width: 600px;
  text-align: center;
  justify-content: center;
}

.flex-bar {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.backButton {
  margin-right: 16px !important;
}

.add-icon {
  text-align: left;
}
