.footercolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.socialIcons svg {
  margin: 10px;
}

footer {
  * {
    color: inherit;
    text-decoration: none;
  }
  a {
    margin: 0px 1rem !important;
  }
}

@media screen and (max-width: 680px) {
  .info {
    text-align: center !important;
  }
}
