.user-profile {
  height: 200px !important;
  width: 200px !important;
}

.hiddenfileinput {
  display: none !important;
}

.profilepiccontainer {
  justify-content: center;
  text-transform: uppercase;
}
