.signup-form {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #0a0a0a36;
}

@media screen and (max-width: 980px) {
  .signup-form {
    margin: 5rem 2rem !important;
  }
}

@media screen and (max-width: 680px) {
  .signup-form {
    margin: 5rem 1rem !important;
  }
}
